<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:sec="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- HTTP Root Access configuration -->
    <sec:http auto-config="true" pattern="/**" use-expressions="true" authentication-manager-ref="userAuthenticationManager">
        <sec:intercept-url pattern="/**" access="isAuthenticated()"/>
    </sec:http>

    <!-- Spring Security Authentication Manager -->
    <sec:authentication-manager alias="userAuthenticationManager">
        <sec:authentication-provider>
            <sec:user-service id="userDetailsManager">
                <sec:user name="admin" password="admin" authorities="ROLE_APP, ROLE_USER, ROLE_ADMIN"/>
                <sec:user name="user" password="user" authorities="ROLE_APP, ROLE_USER"/>
            </sec:user-service>
        </sec:authentication-provider>
    </sec:authentication-manager>

</beans>